[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ouraselain
Exec=harbour-ouraselain
Name=OuraSelain
# Name[fi]=OuraSelain
[X-Sailjail]
Permissions=Internet
OrganizationName=null.hsjpekka
ApplicationName=harbour-ouraselain
